@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


body {
    background-color: #28282B;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 400;
    background-image: url(../img/fundo.png);
    margin: 0;
    padding: 0;
    background-size: cover;
    height: 100%;
    background-position: center; 
    background-repeat: no-repeat;
    
      

}


header {
    background-color: white ;
    padding: 15px;
    background-color: #6a0dad;
    
    
}
    



a {
    text-decoration: none;
    color: #ffff;
}

h1 {
    font-family: "Poppins";
    font-weight: 700;
    padding: 25px;
    margin-top: 10px;
    letter-spacing: 2px;
    font-size: 40px;
    transform: scale(0);
    animation: animacaoH1 2s ease-in-out forwards;
    color: #ff69b4;
    transition: color 0.3s ease-in-out;
    letter-spacing: 2px;

}

h1:hover {
    color: #d4ac0d; 
}
@keyframes animacaoH1 {
    0% {
        opacity: 0;
        transform: translateX(-100px) rotate(-10deg) scale(0.8);
        color: rgba(255, 255, 255, 0.5);
    }

    100% {
        opacity: 1;
        transform: translateX(0) rotate(0deg) scale(1);
        color: #ff69b4
    }
}

h3 {
    font-weight: 700;
}

.header_link {
    padding: 8px 12px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 5px;
    color:  #f5f5f5;

}

.header_link:hover{
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s ease-in-out;
    border-radius: 15px;
}

.aparecerResultado {
    display: none; 
    background-color: #fff; 
    color: #333; 
    border-radius: 8px; 
    padding: 10px; 
    margin: 10px 0; 
    border: 2px solid rgba(255, 255, 255, 0.2); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-size: 18px; 
    text-align: center; 
    transition: all 0.3s ease; 
   

}

.aparecerResultado:hover {
    transform: scale(1.0); 
    border-color: #6a0dad; 
  }

.button_converter, .button_resetar {
    padding: 15px;
    font-size: 15px;
    border-radius: 10px;
    background-color: #6a0dad;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    margin-top: 30px;
   

}

.button_converter:hover, .button_resetar:hover{
    transform: scale(1.1); 
    transition: transform 0.3s ease-in-out;
    background-color:  #5e00b3;
}
    
    

.input {
    padding: 15px;
    font-size: 15px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out; 
}

.input:hover{
    border-color: #6a0dad; 
}

.container{
    display: block;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 90%;
    height: 710px;
    padding: 20px;    
    border-radius: 10px;
    width: 450px;
    max-width: 500px;
    padding: 50px;
    margin: 0 auto;
    color:  #f5f5f5;
    border: 1px solid rgba(255, 255, 255, 0.3);;
    backdrop-filter: blur(2px);
    
    
    
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 20px;
}

.button_converter:active, 
.button_resetar:active {
    transform: scale(1.0); 
}

footer{
    background-color: #6a0dad;
    color: #ffffff; 
    padding: 10px;
    text-align: center;
    position: relative;
    margin-top: 40px;
}

.icon{
 width: 20px;
 transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon:hover{
    transform: rotate(15deg);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
}

  
  .checkbox-group input[type="checkbox"]:hover {
    transform: scale(1.3); 
  }


  
 