@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


body {
    background-color: #28282B;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 400;

}

header {
    background-color: white ;
    padding: 15px;
    background-color: #6a0dad;
    
}
    



a {
    text-decoration: none;
    color: #ffff;
}

h1 {
    font-family: "Poppins";
    font-weight: 700;
    padding: 25px;
    margin-top: 10px;
    letter-spacing: 2px;
    font-size: 40px;
    transform: scale(0);
    animation: animacaoH1 2s ease-in-out forwards;
    color: #f1c40f;
    transition: color 0.3s ease-in-out;

}

h1:hover {
    color: #d4ac0d; 
}

@keyframes animacaoH1 {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: 0.5;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

h3 {
    font-weight: 700;
}

.header_link {
    padding: 8px 12px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 5px;
    color:  #f5f5f5;
    opacity: 90%;
}

.header_link:hover{
    background-color: #c084f5;
    transition: background-color 0.3s ease-in-out;
}

.aparecerResultado {
    display: none; 
    background-color: #f0f0f0; 
    border-radius: 5px; 
    padding: 15px; 
    color: #333;
    width: auto; 
    height: auto; 
    font-weight: 500;

}

.button_converter, .button_resetar {
    padding: 15px;
    font-size: 15px;
    border-radius: 10px;
    background-color: #6a0dad;
    font-weight: bold;
    cursor: pointer;
    color: #f1c40f;

}

.button_converter:hover, .button_resetar:hover{
    transform: scale(1.1); 
    transition: transform 0.3s ease-in-out;
}
    
    

.input {
    padding: 15px;
    font-size: 15px;
    border-radius: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-color: #f5f5f5; 
    opacity: 90%;
    min-height: 50vh;
    padding: 50px;    
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    padding: 50px;
    margin: 0 auto;
    
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 20px;
}

.button_converter:active, 
.button_resetar:active {
    transform: scale(1.0); 
}

footer{
    background-color: #6a0dad;
    color: #ffffff; 
    padding: 10px;
    text-align: center;
    position: relative;
    margin-top: 40px;
}